* {
    font-family: "IRANSans", Helvetica Neue, Helvetica, Arial, sans-serif;
}
.show_register_form{
    margin-right: auto;
    margin-left: auto;
}
.icon-object {
    border-radius: 50%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    text-align: center;
    margin: 10px;
    border-width: 3px;
    border-style: solid;
    padding: 20px;
    display: inline-block;
}